/* CSS for ExternalContentXBlock */

.externality_block .count {
    font-weight: bold;
}

.externality_block p {
    cursor: pointer;
}

/*.wrapper-comp-settings {*/
/*    .wrapper-comp-setting {*/

/*        .question-mark-wrapper {*/
/*            display: inline-block;*/

/*            .icon-question {*/

/*                .before {*/
/*                    border-top: none;*/
/*                    border-bottom: 26px solid #dcdcdc;*/
/*                    top: calc(100% - 1px);*/
/*                }*/

/*                .after {*/
/*                    top: calc(100% + 4px);*/
/*                    bottom: unset;*/
/*                }*/

/*            }*/
/*        }*/
/*    }*/

/*}*/

.supported-tags .supported-resources {
    display: flex;
    clear: both;
	flex-wrap: wrap;
	min-height: 450px;
	padding: 0;
}

.supported-tags .supported-resources .resource-item {
	border: 1px solid grey;
	display: block;
	float: left;
}

.supported-tags .supported-resources .resource-item:not(:last-of-type) {
	margin-right: 20px;
	margin-bottom: 20px;
}

.supported-tags .supported-resources .resource-item:last-of-type {
	margin-bottom: 20px;
	border-bottom: 1px solid grey;
	padding-bottom: 8px;
}

.supported-tags .supported-resources .resource-item .item-container {
	margin: 25px 0 0 25px;
	padding: 0px;
	border: 0;
	border-radius: 0;
	width: 350px;
	height: 300px;
	background-color: #f7f6f6;
}

.supported-tags .supported-tags-nav {
	border-bottom: 1px solid grey;
	margin: 0;
	display: block;
	font-size: 0;
}

.supported-tags .supported-tags-nav .nav-item {
	display: inline-block;
	padding-bottom: 0px;
}

.supported-tags .supported-tags-nav .nav-item:not(:last-of-type) {
	margin-right: 25px;
}

.supported-tags .supported-tags-nav .nav-item .btn-link {
	font-size: 16px;
	color: grey;
	font-weight: 300;
	text-decoration: none !important;
	letter-spacing: normal;
	line-height: initial;
	padding-bottom: 10px;
	padding-top: 0;
	line-height: 20px;
	border: none;
	padding-left: 0;
	padding-right: 0;
	background-color: white;
}

.supported-tags .supported-tags-nav .nav-item .btn-link.active-section {
	font-weight: 400;
	border-bottom: 2px solid red;
}
