{% load i18n %}

<div class="externality_block">
    <p>
        {% if external_resources %}
        <div class="supported-tags" id="supported-tags">
            <ul class="supported-tags-nav">
                <li class="nav-item" id="all-tags">
                    <button class="btn-link active-section" title="All tags">All</button>
                </li>
                {% for tag_name in external_resources.listed_tags %}
                <li class="nav-item" id="all-tags">
                    <button class="btn-link" title="{{ tag_name }}">{{ tag_name }}</button>
                </li>
                {% endfor %}
            </ul>
            <ul class="supported-resources">
            {% for resource in external_resources %}
                <li class="swiper-slide resource-item" data-status="not_started" style="display: block;">
                    <div class="course-container">
                        <article class="external_resource" aria-labelledby="course-title-course-v1:demo+barry_test_DEMO_course_1024+barry_test_DEMO_course_1024" id="course-card-0">{{ resource.name }}</article>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
        {% else %}
        <span class='count'>{{ self.iframe_url | safe }}</span>
        {% endif %}
    </p>
</div>
