{% load i18n %}

<div class="externality_block">
    <p>
        <div class="block-header-wrapper problem-header-wrapper">
            <h3 class="hd hd-3 block-header problem-header">{{ display_name }}</h3>
        </div>
        <div class="block-label problem-label">
            <span class="fal fa-browser Pointing on a Picture-icon block-label-icon"></span>
            <span class="Pointing on a Picture block-label-text">{% trans "External Web Content" %}</span>
        </div>
        <span class='count'>{{ self.iframe_url | safe }}</span>
    </p>
</div>
